<div class="body col-md-12">
<form>
    <h3 class="form-group col-md-4">Exam Log in Form </h3>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="studentName">Student Name</label>
            <input type="name" class="form-control" placeholder="Please write your full name">
        </div>
        <div class="form-group col-md-6">
            <label for="inputEmail4">Email</label>
            <input type="email" pattern="^[a-zA-Z0-9]+@ibibo.com" class="form-control" id="inputEmail4" placeholder="Email">
            <small class="text-denger" *ngIf="email.invalid && email.touched">Enter valid Email</small>
        </div>
        <div class="form-group col-md-6">
            <label for="inputPassword4">Password</label>
            <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
        </div>

        <div class="form-group col-md-6">
            <label for="inputAddress">Address</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
        </div>
        <div class="form-group col-md-6">
            <label for="inputAddress2">Address 2</label>
            <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputCity">City</label>
            <input type="text" class="form-control" id="inputCity" placeholder="pune">
        </div>
        <div class="form-group col-md-4">
            <label for="inputState">State</label>
            <select id="inputState" class="form-control">
                <option selected>Choose</option>
                <option>Maharstra</option>
                <option>Gujarat</option>
                <option>Delhi</option>
                <option>Rajstan</option>
                <option>Himachal</option>
            </select>
        </div>
        <div class="form-group col-md-4">
        <label for="date">Registrion Date</label> <br>
        <input type="date" min="2022-12-11">
    </div>
        <div class="form-group col-md-2">
        
        </div>
    </div>
    <div class="form-group">
        <div class="form-check">

        </div>

    </div>
    <button type="submit" class="btn btn-primary">Sign in</button> &nbsp;&nbsp;&nbsp;&nbsp;
    <button type="reset" class="btn btn-secondary">Reset</button>
    <div class="row justify-content-center"></div>
</form>
</div>