<div [ngStyle]="{'color': colorVal, 'background-color':'red'}">
    Learing Angular 8
</div>

<h4>Ng Class</h4>

<ul *ngFor="let person of people">
    <li [ngClass]="{
        'text-success': person.country === 'UK',
        'text-primary': person.country === 'USA',
        'text-danger': person.country === 'HK'
    }">
 
     {{person.name}} ({{person.country}})
    </li>
</ul>
<p>Normal para</p>
<p appCustdir>custom para</p>
<input type="text"#box  placeholder="enter name">
 
<p>
  entered value is: {{displayval}}
</p>
<button (click)="getvalue(box.value)">click</button>
