
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 text-left rounded shadow py-5">
            <form (ngSubmit)="OnSubmit(myForm)" #myForm="ngForm">
                <div class="form-group">
                    <label for="username">User Name</label>
                    <input type="text" class="form-control" id="username" name="username" placeholder="Enter user name"
                    required  [(ngModel)]="username" >
                        <small *ngIf="username">user name is : {{username}}</small>
                </div>
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" id="email" #email="ngModel" email name="email" placeholder="Enter email" ngModel required>
                    <small class="text-denger" *ngIf="email.invalid && email.touched">Enter valid Email</small>
                </div>


                <div class="form-group">
                    <label for="course">Select Course</label>
                    <select class="form-control" name="course" id="course" [ngModel]="defaultValue">
                        <option value="Angular">Angular</option>
                        <option value="HTML">HTML</option>
                        <option value="JavaScript">JavaScript</option>
                    </select>
                </div>
                <div class="form-group">
                    <div *ngFor="let gender of genders" class="custom-control custom-radio">
                     <input type="radio" id="{{gender.id}}" name="gender" value="{{gender.value}}" [ngModel]="defaultGender" class="custom-control-input">
                     <label for="{{gender.id}}" class="custom-control-label">{{gender.value}}</label>
                    </div>
                </div>


                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>

